.main-banner {
    position: relative;
    background-image: url('main-banner.png');
    aspect-ratio: 1440/768;
    padding: 190px 0;
    background-size: cover;
}

.main-banner:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
    z-index: 1;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-banner__wrapper {
    display: grid;
    grid-template-columns: 50% 1fr;
}

.main-banner__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.main-banner__h1 {
    font-size: 64px;
    font-weight: 700;
    color: #fff; 
    z-index: 2;
}
.main-banner__h3 {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    z-index: 2;
}
.main-banner__button {
    background: #FFC957;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 80px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.main-banner__content button:hover {
    transition: 0.5s;
    background-color: #65256F;
    transform: translateY(10%);
    color: #fff;
    transform: scale(1.1);
    z-index: 2;
}


.main-banner__social {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    z-index: 2;
}

.main-banner__social-items {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
    z-index: 2;
}
